{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/caseyscarborough/following/matz","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["43"], "X-Ratelimit-Reset":["1376830939"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 12:36:01 GMT"}],"recorded_with":"VCR 2.5.0"}