{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/<TEST_LOGIN>/following/<TEST_LOGIN>?","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["50"], "X-Ratelimit-Reset":["1377451806"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Sun, 25 Aug 2013 17:09:05 GMT"}],"recorded_with":"VCR 2.5.0"}