{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/<TEST_LOGIN>/following/matz?","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["51"], "X-Ratelimit-Reset":["1377451806"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sun, 25 Aug 2013 17:09:04 GMT"}],"recorded_with":"VCR 2.5.0"}