{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/emails?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4974"], "X-Ratelimit-Reset":["1376839325"], "Last-Modified":["Sun, 18 Aug 2013 14:29:27 GMT"], "Etag":["\"7c75ce9d9ff2c5f2a78eaac282960764\""], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"WyI8VEVTVF9MT0dJTj5Ab3V0bG9vay5jb20iLCJjYXNleUA8VEVTVF9MT0dJ\nTj4uY29tIiwiY3NjYXJib3JvdWdoQHN0dWRlbnQuY2xheXRvbi5lZHUiLCI8\nVEVTVF9MT0dJTj5AZ21haWwuY29tIl0=\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:29:06 GMT"}],"recorded_with":"VCR 2.5.0"}