{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/emails?access_token=5d67e609aafc9f6d3abac823796afbfe85d6d7b7&login=caseyscarborough","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4990"], "X-Ratelimit-Reset":["1376788207"], "Last-Modified":["Sun, 18 Aug 2013 00:24:34 GMT"], "Etag":["\"adb657da65c5ae7e829858511fe50a90\""], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"WyJjYXNleXNjYXJib3JvdWdoQG91dGxvb2suY29tIiwiY2FzZXlAY2FzZXlz\nY2FyYm9yb3VnaC5jb20iLCJjc2NhcmJvcm91Z2hAc3R1ZGVudC5jbGF5dG9u\nLmVkdSIsImNhc2V5c2NhcmJvcm91Z2hAZ21haWwuY29tIl0=\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 00:28:29 GMT"}],"recorded_with":"VCR 2.5.0"}