{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/emails?access_token=b0ff491014676fec17d08ac06c93e6a2cf9ef138&login=caseyscarborough","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1376780606"], "Last-Modified":["Sat, 17 Aug 2013 19:55:23 GMT"], "Etag":["\"79bb547fe4ea08344c57e85b61d405dc\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"WyJjYXNleXNjYXJib3JvdWdoQG91dGxvb2suY29tIiwiY2FzZXlAY2FzZXlz\nY2FyYm9yb3VnaC5jb20iLCJjc2NhcmJvcm91Z2hAc3R1ZGVudC5jbGF5dG9u\nLmVkdSIsImNhc2V5c2NhcmJvcm91Z2hAZ21haWwuY29tIl0=\n"},"http_version":null},"recorded_at":"Sat, 17 Aug 2013 22:03:35 GMT"}],"recorded_with":"VCR 2.5.0"}