{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/5928712/star?access_token=5d67e609aafc9f6d3abac823796afbfe85d6d7b7&login=caseyscarborough","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1376799008"], "Last-Modified":["Sun, 18 Aug 2013 02:39:55 GMT"], "Etag":["\"2b2516074f9db7f0f0298b5aaee898dd\""], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["gist"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 03:09:47 GMT"}],"recorded_with":"VCR 2.5.0"}