{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/gists/5928712/star?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4993"], "X-Ratelimit-Reset":["1376839325"], "Last-Modified":["Sun, 18 Aug 2013 13:52:32 GMT"], "Etag":["\"abcce19c2c046d996f266194c57590ce\""], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["gist"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:28:45 GMT"}],"recorded_with":"VCR 2.5.0"}