{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/repos/api-test-organization/test-repo/pulls/2/merge?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4996"], "X-Ratelimit-Reset":["1376969733"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"74caca2196a06db7653cc8d76cbea6c5\""]},"body":{"encoding":"UTF-8","base64_string":"eyJzaGEiOiIxZjhlMTBlZjhiOGY4NjE3NTk2ZjNhZTViMDllZTBhNThjYTJj\nYjgyIiwibWVyZ2VkIjp0cnVlLCJtZXNzYWdlIjoiUHVsbCBSZXF1ZXN0IHN1\nY2Nlc3NmdWxseSBtZXJnZWQifQ==\n"},"http_version":null},"recorded_at":"Tue, 20 Aug 2013 02:47:07 GMT"}],"recorded_with":"VCR 2.5.0"}