{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/rails/rails/languages?","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["35"], "X-Ratelimit-Reset":["1376838732"], "Last-Modified":["Sun, 18 Aug 2013 14:20:57 GMT"], "Etag":["\"8355547ce5996ff9935b6a5d9e9ac8a6\""], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJSdWJ5Ijo4MDczNzkyLCJDU1MiOjEyNzUyOCwiSmF2YVNjcmlwdCI6Nzc2\nMywiQ29mZmVlU2NyaXB0Ijo2MzN9\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:28:59 GMT"}],"recorded_with":"VCR 2.5.0"}