{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/teams/478584/members/api-test-user?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4951"], "X-Ratelimit-Reset":["1376965544"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, user"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 20 Aug 2013 01:54:06 GMT"}],"recorded_with":"VCR 2.5.0"}