{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/user/following/caseyscarborough?access_token=5d67e609aafc9f6d3abac823796afbfe85d6d7b7&login=caseyscarborough","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4987"], "X-Ratelimit-Reset":["1376788207"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 00:29:09 GMT"}],"recorded_with":"VCR 2.5.0"}