{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/rate_limit?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4992"], "X-Ratelimit-Reset":["1377407086"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"24c91956b1e7e9f17cdc95c490e0ce3b\""]},"body":{"encoding":"UTF-8","base64_string":"eyJyYXRlIjp7ImxpbWl0Ijo1MDAwLCJyZW1haW5pbmciOjQ5OTIsInJlc2V0\nIjoxMzc3NDA3MDg2fX0=\n"},"http_version":null},"recorded_at":"Sun, 25 Aug 2013 04:27:49 GMT"}],"recorded_with":"VCR 2.5.0"}