{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/rate_limit?","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["55"], "X-Ratelimit-Reset":["1377407696"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"0f1f1dae65762782327ac67f8b28b8d6\""]},"body":{"encoding":"UTF-8","base64_string":"eyJyYXRlIjp7ImxpbWl0Ijo2MCwicmVtYWluaW5nIjo1NSwicmVzZXQiOjEz\nNzc0MDc2OTZ9fQ==\n"},"http_version":null},"recorded_at":"Sun, 25 Aug 2013 04:27:49 GMT"}],"recorded_with":"VCR 2.5.0"}