{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/<TEST_LOGIN>/github/stats/code_frequency?","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["42"], "X-Ratelimit-Reset":["1377037570"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"633a926a420b719dc44ff634ac23c79a\""]},"body":{"encoding":"UTF-8","base64_string":"W1sxMzc1NTc0NDAwLDE4MywtMV0sWzEzNzYxNzkyMDAsMTEwMCwtNTk5XSxb\nMTM3Njc4NDAwMCwyODQyLC0yNjZdXQ==\n"},"http_version":null},"recorded_at":"Tue, 20 Aug 2013 21:55:09 GMT"}],"recorded_with":"VCR 2.5.0"}