{"http_interactions":[{"request":{"method":"post","uri":"https://api.github.com/user/repos?","body":{"encoding":"UTF-8","base64_string":"eyJuYW1lIjoiN2NlNDUxOWViMzJhYTE4ZDA5MTdiMGQ0MDdiNTMwNjQifQ==\n"},"headers":{}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["41"], "X-Ratelimit-Reset":["1376838732"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiUmVxdWlyZXMgYXV0aGVudGljYXRpb24ifQ==\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:28:52 GMT"}],"recorded_with":"VCR 2.5.0"}