{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/keys/5427887?","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["14"], "X-Ratelimit-Reset":["1376838732"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiUmVxdWlyZXMgYXV0aGVudGljYXRpb24ifQ==\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:29:10 GMT"}],"recorded_with":"VCR 2.5.0"}