{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/keys/5547668?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4960"], "X-Ratelimit-Reset":["1376839325"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:30:13 GMT"}],"recorded_with":"VCR 2.5.0"}