{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/keys/5547591?access_token=5d67e609aafc9f6d3abac823796afbfe85d6d7b7&login=caseyscarborough","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4973"], "X-Ratelimit-Reset":["1376835169"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Sun, 18 Aug 2013 14:11:58 GMT"}],"recorded_with":"VCR 2.5.0"}