{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/repos/api-test-organization/test-repo/pulls/comments/5860116?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4979"], "X-Ratelimit-Reset":["1376973548"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Tue, 20 Aug 2013 03:55:06 GMT"},{"request":{"method":"get","uri":"https://api.github.com/repos/api-test-organization/test-repo/pulls/comments/5860116?","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["43"], "X-Ratelimit-Reset":["1376973208"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Tue, 20 Aug 2013 03:55:06 GMT"}],"recorded_with":"VCR 2.5.0"}