{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/user/following/caseyscarborough?access_token=b0ff491014676fec17d08ac06c93e6a2cf9ef138&login=caseyscarborough","body":{"encoding":"UTF-8","base64_string":""},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4992"], "X-Ratelimit-Reset":["1376780606"], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["user, user:email, user:follow, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sat, 17 Aug 2013 22:30:28 GMT"}],"recorded_with":"VCR 2.5.0"}