{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/orgs/rails/public_members/<TEST_LOGIN>?","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["44"], "X-Ratelimit-Reset":["1376959064"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Tue, 20 Aug 2013 00:15:33 GMT"}],"recorded_with":"VCR 2.5.0"}