{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/api-test-organization/test-repo/issues/3/events?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4977"], "X-Ratelimit-Reset":["1377460601"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Sun, 25 Aug 2013 19:29:45 GMT"}],"recorded_with":"VCR 2.5.0"}