{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/<TEST_LOGIN>/github/assignees/<TEST_LOGIN>?access_token=<TEST_ACCESS_TOKEN>&login=<TEST_LOGIN>","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Ratelimit-Reset":["1377456588"], "X-Oauth-Scopes":["delete_repo, user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, public_repo"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Sun, 25 Aug 2013 18:41:05 GMT"}],"recorded_with":"VCR 2.5.0"}